globocore==4.16.13
BeautifulSoup==3.2.1
CherryPy==3.2.4
Django==1.4.13
IPTCInfo==1.9.5-6
Ion==0.6.4.2
Jinja2==2.7
MarkupSafe==0.18
MySQL-python==1.2.3
PIL==1.1.7-1
Pillow==2.1.0
Routes==2.0
SQLAlchemy==0.5.8
South==0.7.3
alf==0.4
argparse==1.2.1
bleach==1.2.2
cleese==0.2.1
comentarios-ssi==1.0.3.1
configobj==4.7.2
coverage==3.6
cssselect==0.8
cssutils==0.9.6
dashboard==1.3.3
dead-parrot==0.1.5
derpconf==0.4.9
django-appconf==0.6
django-bleach==0.1.3
django-compressor==1.1.2-CORE
django-media-lint==0.1.8-CORE
django-meio-easytags==0.7
django-mptt==0.5.4
django-piston==0.2.4-CORE
django-uuidfield==0.2
dynamo==3.4.13.0
edg-boxes==0.10.13
feedparser==5.1.3
fudge==1.0.3
gdata==2.0.18
google-api-python-client==1.4.0
httplib2==0.9.1
oauth2client==1.4.11
rsa==3.1.4
simplejson==3.7.3
six==1.9.0
globo-compressor-extensions==0.3.2
gunicorn==0.12.1
html5lib==0.95
#httplib2==0.7.2
isodate==0.4.9
libthumbor==1.0.1
lxml==3.2.1
mongoengine==0.6.3
nose==1.0.0
oauthlib==0.4.2
#pep8==1.5.6
pyactiveresource==1.0.2
pybreaker==0.2.2
pycrypto==2.6
pycurl==7.19.0
pyes==0.19.1
pyflakes==0.8.1
pymongo==2.5.2
python-bitly==0.3-CORE
python-dateutil==2.1
python-magic==0.4.3
python-memcached==1.47
pytz==2011n
repoze.lru==0.6
requests==2.2.1
requests-oauthlib==0.3.2
simple-db-migrate==1.4.2.1
#simplejson==2.1.6
simplexml==0.1.1
#six==1.3.0
slimmer==0.1.30
solrpy==0.7
staticgenerator==1.5.0
#stevedore==0.14.1
stomp.py==3.1.5
thumbor==4.8.0
thumbor-urls==0.3.0
tornado==3.0.2
twython==2.10.1
urllib3==1.7
uuid==1.30
virtualenv==1.11.2
virtualenv-clone==0.2.4
#virtualenvwrapper==4.2
volare==1.1.7
webassets==0.4
webmedia-api-client==0.4.0
wsgiref==0.1.2
uritemplate==0.6
