################################################
# Módulos necessários para todos os ambientes  #
################################################

BeautifulSoup==3.2.1
cssutils==0.9.6
gunicorn==0.12.2
python-memcached==1.47

# Projeto publicacao
dashboard==1.3.3

## Globocore e suas dependências ##

globocore==4.11.1

django_compressor==1.1.2-CORE
django-mptt==0.5.4
django-piston==0.2.4-CORE
python-bitly==0.3-CORE
dead-parrot==0.1.5
Django==1.4.8
django-uuidfield==0.2
httplib2==0.7.2
lxml==3.1.2
cssselect==0.8
MySQL-python==1.2.3
PIL==1.1.7-1
pytz==2011n
simplejson==2.1.6
slimmer==0.1.30
simple-db-migrate==1.4.2.1
staticgenerator==1.5.0
volare==1.1.7
uuid==1.30
pycurl==7.19.0
nose==1.1.2
django-nose
# Problema no setup do realtime
#realtime==2.0.4rc2
stomp.py==3.0.5
semantica==2.1.5
mongoengine==0.6.3
pymongo==2.5.2
libthumbor==1.0.1
django-appconf==0.6
pycrypto==2.6
django-template-preprocessor==1.2.28
#webmedia_api
pybreaker==0.2.2
pyactiveresource==1.0.2
webmedia_api_client==0.2.0
isodate==0.4.9
django-bleach==0.1.3
bleach==1.2.2
html5lib==0.95
pyes==0.19.1
urllib3==1.6
django-health-check==0.2

# alf client oauth
alf==0.2
requests==1.2.3


## Outras dependências ##

alf==0.4.2
CherryPy==3.2.4
Ion==0.6.4.2
Jinja2==2.7
MarkupSafe==0.18
Pillow==2.1.0
Pillow-PIL==0.1dev
Routes==1.13
SQLAlchemy==0.5.8
South==0.7.3
argparse==1.2.1
cleese==0.2.1
comentarios-ssi==1.0.3.1
configobj==4.7.2
derpconf==0.4.9
distribute==0.6.34
django-media-lint==0.1.8-CORE
django-meio-easytags==0.7
dynamo==3.4.13.0
feedparser==5.1.3
fudge==1.0.3
gdata==2.0.14
oauthlib==0.4.2
python-magic==0.4.3
repoze.lru==0.6
requests-oauthlib==0.3.2
rope==0.9.4
ropemacs==0.7
ropemode==0.2
simplexml==0.1.1
six==1.3.0
thumbor==3.12.1
thumbor-urls==0.3.0
tornado==3.0.2
twython==2.10.1
webassets==0.4
wsgiref==0.1.2
globo_compressor_extensions==0.3.2
IPTCInfo==1.9.5-6
